<div class="p-4">
  <h2>ID: {{ id$ | async }}</h2>
  
  <h3>Title: {{ (note$ | async)?.title }}</h3>
  <p>Content: {{ (note$ | async)?.content }}</p>
  <p>{{ noteIds$ | async | json }}</p>

  <div class="buttons">
    <button class="danger" (click)="deleteNote()">Delete</button>
    <!-- <button (click)="updateNote()">Update</button> -->
  </div>
  
  <div class="new-note">
    <form formGroup="noteGroup">
      <frontend-input [control]="noteForm" label="Title"></frontend-input>
      <frontend-content [control]="contentForm" label="Content"></frontend-content>
    </form>

    <h2>
      {{ title$ | async }}
    </h2>
    <p>
      {{ content$ | async }}
    </p>
   </div>
  </div>

